@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
    .view {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
        .title {
            font-family: 'Gloria Hallelujah', cursive;
            font-size: 42px;
            padding: 15px;
        }
        .input {
            padding: 15px;
        }
    }
